.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

img {
  width: 460;
  height: 345;
}

.carousel-control.right,
.carousel-control.left {
    background-image: none;
}

.glyphicon-chevron-left:before,
.glyphicon-chevron-right:before {
  color: black;
  font-size: 30px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 30px;
}
